body{
    background-color: rgb(211, 207, 207);
    font-family: 'Assistant', sans-serif;
    color: #071C4D;

}

// Navbar

.navbar-brand{
    img {
        max-height: 40px;
    }
}

.navbar-light{
    .navbar-nav{
        .nav-item{
            .nav-link{
                color: #071C4D;

                &.active{
                    font-weight: bold !important;
                }
            }
        }
    }
} 

.btn-login{
    background-color: #071C4D;
    color: #ffff;

    &:hover{
        background-color: #0f358f;
        color: rgb(218, 212, 212);
    }
}

.btn-navbar-right{
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;

    height: 70px;
    width: 130px;

    border-radius: 0;
}

// Main
.section-details-header{
    min-height: 310px;
    margin-top: 70px;
}


// Footer

.section-footer{
    background-color: white;
    
}